@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  background-color: #050505;
  height: min-content;
}

body{
  background-color: #050505;
}

.titleSize {
  font-size: 4rem/* 30px */;
  line-height: 4rem/* 36px */;
}

