@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #050505;
  height: min-content;
}

body {
  background-color: #050505;
  height: 100vh;
}

.titleSize {
  font-size: 4rem
    /* 30px */
  ;
  line-height: 4rem
    /* 36px */
  ;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  position: absolute;
  left: 0px;
  z-index: 10;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  position: absolute;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.coolGradient {
  background: rgb(5,5,5);
  background: linear-gradient(0deg, rgba(5,5,5,1) 39%, rgba(255,83,73,1) 100%);
}